body {
  font-family: 'Roboto', sans-serif;
}

.clickable {
  cursor: pointer;
}

friends-list {
  border-right: 1px solid #BDBDBD;
  width: 250px;
  max-width: 250px;
}

friends-list .friends {
  min-height: 200px;
}

friends-list h1 {
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
  font-size: 1.0rem;
  text-align: center;
  background-color: #757575;
}

friends-list md-list-item.pad {
  padding: 5px 10px 5px 15px;
}

friends-list md-list-item.active {
  color: rgb(255,87,34);
}

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.2;
    }
}

friends-list md-list-item.unread {
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
  -webkit-animation-duration: 1.2s;
}

chat .form {
  width: 100%;
}

chat .form md-input-container {
  margin: 0;
}

chat .form md-input-container .md-errors-spacer {
  min-height: 5px;
}
